@{
    ViewBag.Title = "Home Page";
}

<style>
    body {
        background-color: chartreuse;
    }
</style>

<div style="background-color: chartreuse;"class="jumbotron">

    <h1 style="color: orangered;">STUDENT MARKS MANAGEMENT SYSTEM</h1>

</div>
